<ion-header>
  <ion-navbar>
    <ion-title>Browse News</ion-title>
  </ion-navbar>
  <ion-searchbar
    placeholder="Search title and details"
    [(ngModel)]="searchFor"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearchInput($event)"
    (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let article of feed">
  <ion-item>
    <ion-avatar item-left>
        <img src="assets/images/{{article.icon}}">
    </ion-avatar>
    <h2>{{article.title}}</h2>
    <p>{{article.creator}}<br/>{{article.pubDate}}</p>
  </ion-item>
  <img *ngIf="article.content" src="{{article.content.url}}"/>
  <ion-card-content>
    <p [innerHTML]="article.description"></p>
  </ion-card-content>
  <ion-row>
    <ion-col style="display:none;">
      <button primary clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col style="display:none;">
      <button primary clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col>
      <button primary clear small>
        <a target="_blank" href="{{article.link}}">
          <ion-icon name="text"></ion-icon>
          <div>Read full Article</div>
        </a>
      </button>
    </ion-col>
  </ion-row>
</ion-card>

</ion-content>
